<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>hellobt</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserAction</display-name>
    <servlet-name>UserAction</servlet-name>
    <servlet-class>com.action.UserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAction</servlet-name>
    <url-pattern>/userAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentAction</display-name>
    <servlet-name>StudentAction</servlet-name>
    <servlet-class>com.action.StudentAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentAction</servlet-name>
    <url-pattern>/stuAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassesAction</display-name>
    <servlet-name>ClassesAction</servlet-name>
    <servlet-class>com.action.ClassesAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassesAction</servlet-name>
    <url-pattern>/clsAction</url-pattern>
  </servlet-mapping>
</web-app>